---
import Layout from "../layouts/Layout.astro";
import ContactForm from "../components/ContactForm.svelte";

import H2 from "../components/posts/H2.astro";
import Paragraph from "../components/posts/Paragraph.astro";
import Blockquote from "../components/posts/Blockquote.astro";

const canonicalUrl = "https://elbauldelfriki.com/contacto";
const excerpt =
	"Soy Richard Armuelles, coleccionista y desarrollador panameño. En este blog comparto mis experiencias y análisis sobre cartas, whisky y cultura pop valiosa.";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Sobre mi" canonicalUrl={canonicalUrl} excerpt={excerpt}>
	<section
		class="grid grid-cols-2 md:grid-cols-4 xl:grid-cols-6 gap-6 p-6 my-20"
	>
		<div
			class="col-span-2 sm:col-span-1 md:col-span-2 lg:col-span-2 xl:col-span-2 2xl:col-span-1"
		>
			<article
				class="bg-white dark:bg-gray-900 rounded-2xl shadow p-4 transition"
			>
				<div class="aspect-2/3">
					<div
						class="w-full h-full xs:h-dvh bg-cover bg-center bg-no-repeat mask-size-[100%_100%] mask-center mask-no-repeat mask-[url(../images/scribble.png)] bg-[url(../images/richard.jpg)] ..."
					>
					</div>
				</div>
			</article>
		</div>

		<div
			class="col-span-2 sm:col-span-1 md:col-span-2 lg:col-span-2 xl:col-span-4 2xl:col-span-5"
		>
			<article
				class="bg-white dark:bg-gray-900 rounded-2xl shadow p-4 transition"
			>
				<H2>Hola, soy Richard, aquí un poco de historia.</H2>

				<Paragraph>
					Crecí entre cartas, tazos y videojuegos. Como muchos niños
					en los 2000, pasé horas frente a Dragon Ball, Pokémon,
					Yu-Gi-Oh y todo lo que hiciera vibrar una tele de tubo. Como
					sabes, todas estas franquicias producian como resultado de
					su popularidad un nuevo juguete de moda, juguetes que hoy
					son tesoros del coleccionismo. Nunca imaginé que años
					después terminaría construyendo un proyecto que los
					conectara con tecnología, cultura pop y comunidad.
				</Paragraph>

				<Paragraph>
					Soy desarrollador web full stack, entusiasta del software
					libre y apasionado del coleccionismo. He trabajado en
					proyectos de código abierto, comunidades tech y más
					recientemente, en el cruce entre cripto, NFTs y
					coleccionables físicos. Mi experiencia incluye desarrollo,
					gestión de comunidades, e-commerce y un largo camino de
					prueba y error que me ha enseñado más que cualquier
					universidad.
				</Paragraph>

				<Paragraph>
					Mi trayectoria siempre ha tenido dos motores: la pasión y la
					construcción. De niño sin saberlo, sin comprenderlo del
					todo, era fan ya sea del anime o los videojuegos, luego
					aprendí a crear herramientas para mejorar experiencias, y
					eso me llevó a formar comunidades. Más tarde, enfoqué esa
					energía en el desarrollo profesional. Hoy, años después,
					vuelvo al origen: construyendo un espacio para fans y
					coleccionistas como yo, combinando todo lo aprendido en
					tecnología, cultura y comunidad.
				</Paragraph>

				<Paragraph>
					Este blog nace de esa trayectoria: un espacio donde la
					nostalgia se encuentra con la tecnología, y donde explorar
					el valor de coleccionar —desde cartas y figuras hasta whisky
					y arte— se convierte en una forma de aprender, compartir e
					incluso invertir. Sobre todo desde una perspectiva local
					(Panamá) y con los pies en la tierra.
				</Paragraph>

				<Blockquote>
					Esta historia aun se está escribiendo y quiero compartir lo
					aprendido, si te interesa el coleccionismo y otras formas de
					inversión alternativa, te ayudaré a crear tu propia historia
					también.
				</Blockquote>

				<ContactForm client:load />
			</article>
		</div>
	</section>
</Layout>
