---
import { ClientRouter } from "astro:transitions";

import "/src/styles/global.css";
import Header from "../components/Header.svelte";
import Footer from "../components/Footer.svelte";

// Recibe la prop 'title' desde la página que lo use
const {
	title = "El Baúl del Friki",
	excerpt,
	tags,
	canonicalUrl,
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={excerpt} />
		<meta name="keywords" content={tags} />
		<meta name="author" content="Richard Armuelles" />
		<link
			rel="canonical"
			href={canonicalUrl ?? "https://elbauldelfriki.com"}
		/>
		<!-- Título dinámico -->
		<title>
			{title ? `${title} - El Baúl del Friki` : "El Baúl del Friki"}
		</title>
		<ClientRouter />
		<script
			type="text/partytown"
			async
			src="https://www.googletagmanager.com/gtag/js?id=G-16KYH0P8W9"
		></script></head
	>
	<!-- Google tag (gtag.js) -->

	<script type="text/partytown">
		window.dataLayer = window.dataLayer || [];
		function gtag() {
			dataLayer.push(arguments);
		}
		gtag("js", new Date());

		gtag("config", "G-16KYH0P8W9");
	</script>
	<body>
		<Header client:load />
		<slot />
		<Footer />
	</body>
</html>

<style>
	:global(body) {
		background-color: #f5f3f5;
		color: #212120;
	}
	:global(.dark body) {
		background-color: #212120;
		color: #f5f3f5;
	}
</style>
